@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    width: 960px;
    margin: auto;
}
header{

    display :grid;
    grid-template-columns: 50px 640px 1fr;
    align-items: center;
    
}

header nav{
    float: right;
}
header article :nth-child(1){
    font-size: x-large;
    font-family: 'Pacifico', cursive;
}
header article:nth-child(2){
    text-transform: uppercase;
font-size: small;
}
hr{
    border-bottom: 5px solid rgb(153, 151, 151);
    border-top:0.5px dotted rgb(153, 151, 151);
}
header nav :nth-child(7){
    padding-left: 10px;
}
