@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Orelega+One&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Titillium+Web:ital@1&display=swap');
body{
    width: 960px;
    margin: auto;
}
header{

    display :grid;
    grid-template-columns: 50px 640px 1fr;
    align-items: center;
    
}

header nav{
    float: right;
}
header article :nth-child(1){
    font-size: x-large;
    font-family: 'Pacifico', cursive;
    color:black;
}
header article:nth-child(2){
    text-transform: uppercase;
font-size: small;
color: gray;

}
hr{
    
    border: 10;
    border-bottom: 2px dashed #ccc;
    background: #999;
}
header nav :nth-child(7){
    padding-left: 10px;
}

main section :nth-child(1){
    font-family: 'Orelega One', cursive;
    font-size: 30px;
    color: black;
    
}
main section:nth-child(2)
{
    text-transform: uppercase;
    font-size: small;
    color: gray;
}
main section :nth-child(3)
{
    float: right;

}

.hero{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.paragraph{
    font-family: 'Orelega One', cursive;
    font-size: large;
    color: gray;
    font-family: 'Titillium Web', sans-serif;

}

div {
    position: relative;
    width: 100%;
}
div img  {
    
    width: 100%;
}
 .list1{
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color:darkgrey;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 300px 1fr;
    padding-left: 50px;
    font-size: 25px;
    font-family: 'Architects Daughter', cursive;
}

.check{
    text-decoration:line-through;
}
.van
{
    display: grid;
    grid-template-columns: 100px 700px 1fr;
    align-items: center;
    padding-bottom: 70px ;
    color: rgb(122, 120, 120);
}

button{
    background-color:rgb(185, 45, 45) ;
    color:cornsilk;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    height: 40px;
    
}

footer{
 text-align: center;
 padding-bottom: 30px;
 color:darkgrey;
}

.hrline{
    border-bottom: 0.5px solid rgb(153, 151, 151);
    border-top:0.5px dotted rgb(153, 151, 151);
}